***ASSIGNMENT PROBLEMS***

**Q1. Angles Of Valid Triangle?**


You are given 3 integer angles(in degrees) A, B and C of a triangle. You have to tell whether the triangle is valid or not.

A triangle is valid if sum of its angles equals to 180.

NOTE: You have to take the input of 3 sides of triangle from the user.


Problem Constraints

1 <= A, B, C <= 180



Input Format

First line of the input contains an integer A.

Second line of the input contains an integer B.

Third line of the input contains an integer C.



Output Format

Print 1 if the triangle having given sides is valid, else print 0.



Example Input

Input 1:

 60

 60

 60
Input 2:

 30

 40

 50


Example Output

Output 1:

 1

Output 2:

 0

In [1]:
a=int(input())
b=int(input())
c=int(input())
sum=a+b+c
if sum==180:
    print("1")
else:
    print("0")

60
60
10
0

**Q2. Profit Or Loss**


You are given the Cost Price C and Selling Price S of a Product. You have to tell whether there is a Profit or Loss. Also, calculate total profit or loss.

NOTE: It is guaranteed that Cost Price and Selling Price are not equal.

NOTE: You have to take input of the Cost Price(C) and Selling Price(S) from the user.



Problem Constraints

1 <= C, S <= 109

C â‰  S



Input Format

First line of the input contains a single integer C.

Second line of the input contains a single integer S.



Output Format

Print two integers in separate lines.

First integer denotes whether there is a profit or loss. If there is a profit, print 1, else print -1.

Second integer is a non-negative integer denoting the absolute value of total profit or loss.



Example Input

Input 1:

 2

 4
Input 2:

 4

 1


Example Output

Output 1:

 1

 2

Output 2:

 -1

 3

In [2]:
cost_price=int(input())
selling_price=int(input())
profit = selling_price-cost_price
loss=cost_price-selling_price
if selling_price>cost_price:
    print("1")
    print(profit)
else:
    print("-1")
    print(loss)

2
4
1
2

**Q3. Max of two**


Write a program to input two numbers(A & B) from user and print the maximum element among A & B.


Problem Constraints

1 <= A <= 1000000

1 <= B <= 1000000



Input Format

First line is a single integer A.

Second line is a single integer B.



Output Format

One line containing the greater integer A or B.



Example Input

Input 1:

5

6

Input 2:

1000

10000


Example Output

Output 1:

6

Output 2:

10000

In [3]:
a=int(input())
b=int(input())
if a>b:
    print(a)
else:
    print(b)

1000
10000
10000

**Q4. Valid Statements**



a.if a>=2:

      print("TRUE")

b.if (a=>2):

      print("TRUE")

c.if (a%2!=0):

      print("TRUE")

In [4]:
a=5
if a>=2:
  print("TRUE")

TRUE

In [5]:
if (a%2!=0):
  print("TRUE")

TRUE

**Q5. Roller Coaster Ride**


Write a program that takes the age of the user as input and tells them if they're old enough to ride a roller coaster. The minimum age to ride the roller coaster in this question is 13.


Input Format

There is only 1 single line in the input, which is the age of the user.


Output Format

Print the following if user can ride the roller coaster:

You can ride the roller coaster!

Print the following if user can't ride the roller coaster:

You can't ride the roller coaster.


Example Input

Input 1:-

9

Input 2:-

13


Example Output

Output 1:-

You can't ride the roller coaster.

Output 2:-

You can ride the roller coaster!

In [6]:
age=int(input())
if age>=13:
    print("You can ride the roller coaster!")
else:
    print("You can't ride the roller coaster.")

16
You can ride the roller coaster!

***ADDITIONAL PROBLEMS***

***Q1. Class Performance 2***


You have been given a dataset for marks of 2 subjects, scored by students of classes ClassA and ClassB. You now want to compare the performances of class A and class B by finding out the average performance of the classes. Write a program to find if class A performed better. Print True is Class A is strictly better else return False.


Input Format

There are 4 lines in the input.

The first and second lines are marks of subjects for Class A.

The third and fourth lines are marks of subjects for Class B.


Output Format

Print True if class A is strictly better else False.


Example Input

Input 1:-
80

27

54

61
Input 2:-
54

61

80

27


Example Output

Output 1:-

False

Output 2:-

True

In [7]:
m1=float(input())
m2=float(input())
m3=float(input())
m4=float(input())
avg1=(m1+m2)/2
avg2=(m3+m4)/2
if avg1>avg2:
    print("True")
else:
    print("False")

54
61
80
27
True

**Q2. Min of two**

Write a program to input two numbers(A & B) from user and print the minimum element among A & B in each line.


Problem Constraints

1 <= A <= 1000000

1 <= B <= 1000000



Input Format

First line is a single integer A.

Second line is a single integer B.



Output Format

One line containing an integer as per the question.



Example Input

Input 1:

5

6

Input 2:

1000

10000


Example Output

Output 1:

5

Output 2:

1000

In [9]:
a=int(input())
b=int(input())
if a<b:
    print(a)
else:
    print(b)

4
3
3

In [13]:
x=1
if x > 2:
    x = x*2
if x > 4:
    x = 0
print(x)

1

**Q3. What will be the output of the following code:**

x = 2

if x==2:

    x = 3

x = 4

else:

    x = 5
    
print(x)

In [14]:

x = 2
if x==2:
    x = 3          # else block should be immediately below the if block hence error(x is in between if and else block)
x = 4
else:
    x = 5
print(x)

SyntaxError: invalid syntax (<ipython-input-14-f39cd7db9a9c>, line 5)

**Q4. All correct about x**

You have been given the following piece of code. Assume that x has already been declared.


if x > 2:

    x = x*2

if x > 4:

    x = 0
    
print(x)

In [20]:
x=int(input())
if x > 2:              #let x=4
    x = x*2             #x=8(since 4>2)
if x > 4:              #8>4 as now x has changed from 4 to 8  hence x=0.Thus now x is containing 0
    x = 0
print(x)           #out is 0 for x>2 and for x<2 output is x

8
0